.lesson {
    background-color: lemonchiffon;
}

.title {
    color: darkblue;
}

#Email {
    background-color: goldenrod;
}
#Github {
    background-color: lightsteelblue;
}

#Portfolio {
    background-color: darkorange;
}

