.lesson {
    background-color: lemonchiffon;
}

.title {
    color: darkblue;
}

#Email {
    background-color: goldenrod;
}
#Github {
    background-color: lightsteelblue;
}

#Portfolio {
    background-color: darkorange;
}

.imagecorners {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 200px;
    width: 200px;
}